body {
    font-size: 15pt;
    margin: 0;
    background: #25222A;
    font-family: 'Finlandica', sans-serif;
   
}
.Side_Shape_1{
        position: relative;
        top:3.3rem;
        width:25rem;
        left:-10rem;
        height :30rem;
        display: flex;
        filter: blur(1px);
        background: #3E3442;
        transform: rotate(135deg);
        border-radius: 3rem;
        border: 3px solid #DFCAFF;
       
}
a{
    text-decoration: none;
    color: #CEBAEC;
}
.element_1{
        position: absolute;
        top: 1rem;
        width:1rem;
        height: 6rem;
        background: #996BDF;
        right: 4rem;
        transform: rotate(149deg);
        animation: Roll_1 5s infinite;
}
@keyframes Roll_1{
        10%{
                transform: rotate(260deg);
        }
        50%{
                transform: rotate(360deg);
                background: #EC3DB2;
        }
        100%{
                transform: rotate(149deg);
        }
}
.element_2{
        position: absolute;
        top: 1rem;
        width:1rem;
        height: 6rem;
        background: #996BDF;
        right: 6.7rem;
        transform: rotate(-149deg);
        animation: Roll_2 5s infinite;
}
@keyframes Roll_2{
        10%{
                transform: rotate(-260deg);
        }
        50%{
                transform: rotate(-360deg);
                background: #EC3DB2;
                
        }
        100%{
                transform: rotate(-149deg);
        }
}
.element_3{
        position: absolute;
        top: 4.4rem;
        width: 3rem;
        height: 1rem;
        right: 4.4rem;
        background: #D7C5F0;
        animation: Flip 5s infinite;
        overflow:hidden;
}
@keyframes Flip{
        10%{
                transform: rotateZ(-45deg);
        }
        50%{
                transform: rotateZ(45deg);
                background: #C164ED;
        }
        100%{
                transform: rotate(180deg);
        }
}
h2{
        position: relative;
        top: -19rem;
        font-size: 3rem;
        display: flex;
        line-height:1rem;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
}
h3{
          position: relative;
          top: -18.9rem;
          color: #8A8C9D;
          display: flex;
          justify-content: center;
          text-align: center;      
          font-size: 1rem;
}
.Scroll_Anime{
        position: relative;
        justify-content: center;
        text-align: center;
        display: flex;
        top: 2rem;
        opacity: 75%;
}
#shape{
        border: 2rem 5rem 2rem 5rem;
        border-radius: 3rem;
        border: 5px solid #6115D2;
        background: #FFFFFF;
       width: 12rem;
       height: 5rem;
       position: absolute;
       top: -17rem;
       animation: roll 10s infinite;
}
@keyframes roll{
        10%{
               border-top: 5px solid #44BD92;
        }
        46%{
                border-right: 5px solid #618DF3;
        }
        70%{
             border-left: 5px solid #618DF3;
        }
        100%{
                border-bottom:5px solid #DD61F3;
        }
}

#img_1{
        width :2rem;
        height :2rem;
        position: relative;
        top: -.4rem;
        left: .5rem;
        animation: updown 2s infinite;
}
@keyframes updown{
        0%{
                position: relative;
                top:-.4rem;
        }
        25%{
                position : relative;
                top:-.55rem;
        }
        50%{
                position: relative;
                top:-.4rem;
        }
        75%{
                position : relative ;
                top:-.65rem;
        }
        100%{
                position : relative;
                top:-.4rem;
        }
}
h4{
        display: flex;
        text-align: center;
        justify-content: center;
}
.Social-Icons{
        display: flex;
        position: absolute;
        top: 4rem;
        flex-direction: column;
        justify-content: space-between;
}
img{
        width: 4rem;
        height: 4rem;
}
.backlight{
        display: flex;
        justify-content: center;
        text-align: center;
        
}
span{
            border-radius: 1rem;
}
#light:nth-child(1){
        width: 1rem;
        height:16rem;
       background: #9599C1;
       position: absolute;
       top: 40rem;
       animation: anime_1 6s infinite;
}
@keyframes anime_1{
        0%{
                height: 16rem;
                position: absolute;
                top:40rem;
                background: #FFFFFF;
        }
        50%{
                height: 16rem;
                position: absolute;
                top:40rem;
                background: #0014FF;
        }
        100%{
                height: 16rem;
                position: absolute;
                top:40rem;
                background: #FFFFFF;
        }
}   
#light:nth-child(2){
        width: 1rem;
        height:14rem;
        background: #9599C1;
        position: relative;
        top:- 2.5rem;
        left:1.5rem;
        animation: anime_2 5s infinite;
}

#light:nth-child(3){
        width: 1rem;
        height:14rem;
        background: #9599C1;
        position: relative;
        top: -.1rem;
        left: 4.5rem;
        animation: anime_2 5s infinite;
}
@keyframes anime_2{
        0%{
                background: #FFFFFF;
        }
        50%{
                background: #00FFD1;
        }
        
}
#light:nth-child(4){
        width: 1rem;
        height:10rem;
        background: #9599C1;
        position: relative;
        top: 2rem;
        left:5.5rem;
        animation: anime_3 3s infinite;
}
#light:nth-child(5){
        width: 1rem;
        height:10rem;
        background: #9599C1;
        position: relative;
        top: 2rem;
        left:-3.5rem;
        animation: anime_3 3s infinite;
}

@keyframes anime_3{
        0%{
                background: #B400FF;
        }
        50%{
                background: #FFFFFF;
        }
        100%{
                background: #B400FF;
        }
}
#light:nth-child(6){
        width: 1rem;
        height:6rem;
        background: #9599C1;
        position: relative;
        top: 4rem;
        left:5.5rem;
        animation: anime_4 4s infinite;
}
#light:nth-child(7){
        width: 1rem;
        height:6rem;
        background: #9599C1;
        position: relative;
        top: 4rem;
        left:-7.5rem;
        animation: anime_4 4s infinite;
}
@keyframes anime_4{
        0%{
                background: #FFFFFF;
        }
        50%{
                background: #E81A79;
        }
}
#light:nth-child(8){
        width: 1rem;
        height:4rem;
        background: #9599C1;
        position: relative;
        top: 5rem;
        left:-10.5rem;
        animation: anime_5 2s infinite;
}
#light:nth-child(9){
        width: 1rem;
        height:4rem;
        background: #9599C1;
        position: relative;
        top: 5rem;
        left:4.5rem;
        animation: anime_5 2s infinite;
}
@keyframes anime_5{
        0%{
                background: #E8E71A;
        }
        50%{
                background: #9599C1
        }
}
#Heading_1{
         border-radius: 1rem;
         background: url(background.gif);
         font-size:1.5rem;
         border: 4px solid #9958DF;
         opacity: 50%;
}
li{
        list-style: none;
}
.Flex_Content{
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        gap:4rem;
}
.First_Column{
        display: flex;
        height :30rem;
        top: 1rem;
        text-align: center;
        justify-content: center;
        border: 4px solid #D5B8FF;
        position: relative;
        background:#38363A;
        border-radius:2rem;
        
}
.Second_Column{
        display: flex;
        height :30rem;
        top: 1rem;
        text-align: center;
        justify-content: center;
        border: 4px solid #D5B8FF;
        position: relative;
        background:#38363A;
        border-radius:2rem;
}
.Third_Column{
        display: flex;
        height :30rem;
        top: 1rem;
        text-align: center;
        justify-content: center;
        border: 4px solid #D5B8FF;
        position: relative;
        background:#38363A;
        border-radius:2rem;
}
.Fourth_Column{
        display: flex;
        height :30rem;
        top: 1rem;
        text-align: center;
        justify-content: center;
        border: 4px solid #D5B8FF;
        position: relative;
        background:#38363A;
        border-radius:2rem;
        
}
#h3_1{
        position: relative;
        text-align: center;
        top: .1rem;
        line-height:2rem;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
        font-size: 1rem;
}
h5{
        text-align: center;
        font-size: 2rem;
        color: #7ED5B5;
         font-family: 'Edu QLD Beginner', cursive;
}
h4{
        font-family: 'Finlandica', sans-serif;
        color: #7BA3FF;
}
hr{
        background: #6290DA;
        animation: shrink 2s linear infinite;
}
@keyframes shrink{
        0%{
                width: 2rem;
        }
        10%{
                width :6rem;
        }
        20%{
                width: 10rem;
        }
        30%{
                width: 14rem;
        }
        40%{
                width: 18rem;
                background: #DDFF06;
        }
        50%{
                width: 26rem;
        }
        60%{
                width: 32rem;
        }
        70%{
                width: 40rem;
        }
        80%{
                width: 48rem;
        }
        90%{
                Width :58rem;
        }
        100%{
                width: 2rem;
        }
}
.text-animation{
  position : relative;
  display: flex;
  justify-content: space-evenly;
  top:1rem;
  color: #48A1CC;
  
}

.Animes{
        display: flex;
}



